@import 'tailwindcss';

@theme {
    --color-aroace-dark-blue: #1b2d48;
    --color-aroace-light-blue: #5faad7;
    --color-aroace-yellow: #e7c600;
    --color-aroace-orange: #e38d00;
    --custom-grey: #1c1c1e;
}